import(RPostgreSQL)
import(XML)
import(rvest)
import(stringi)

export(create_database)
export(remove_database)
export(deputies_create_table)
export(deputies_update_table)
export(deputies_add_new)
export(deputies_get_data)
export(deputies_get_ids)
export(votes_create_table)
export(votes_update_table)
export(votes_get_clubs_links)
export(votes_get_results)
export(votes_match_deputies_ids)
export(votings_create_table)
export(votings_update_table)
export(votings_get_date)
export(votings_get_meetings_links)
export(votings_get_meetings_table)
export(votings_get_votings_links)
export(votings_get_votings_table)